@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Changa", sans-serif;
  @apply text-[18px] lg:text-[20px]
}

<<<<<<< HEAD

=======
body {
  font-family: "Changa", sans-serif;
}
>>>>>>> e07b5c6 (easify v 1.0.4)

html {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* MODE ================ */

.theme-light {
  @apply bg-gradient-to-tl from-[#faf7f8] to-[#fdeaf0] text-black
}

.theme-dark {
  @apply dark:bg-gradient-to-br dark:from-[#1C1C1C] dark:to-[#18010c] dark:text-white
}

.bg-theme {
  @apply theme-dark theme-light border border-gray-300 dark:border-zinc-700
}

.container {
  @apply w-full px-3 md:px-6 lg:px-12 xl:px-32 m-auto
}

.nav-dimensions {
  @apply py-3 md:py-4 lg:py-6
}

.large-btn {
  @apply text-white h-[60px] px-8 hover:scale-95 duration-300 rounded-[10px] font-semibold uppercase
}

.btn {
  @apply h-[50px] flex justify-center items-center rounded-[15px] font-semibold
}

.icon {
<<<<<<< HEAD
  @apply bg-theme w-[50px] cursor-pointer  hover:text-primary hover:border-primary duration-300
=======
  @apply bg-theme w-[50px] cursor-pointer hover:text-primary hover:border-primary duration-300
>>>>>>> e07b5c6 (easify v 1.0.4)
}


.image-styles {
  @apply w-[320px] h-[260px] lg:w-full border-4 dark:border-primary rounded-[20px]
}

section {
  @apply py-8 md:py-10 lg:py-12 xl:py-14
}

h1, h2, h3 {
<<<<<<< HEAD
  @apply first-letter:capitalize leading-snug
=======
  @apply capitalize leading-snug
>>>>>>> e07b5c6 (easify v 1.0.4)
}

h1 {
  @apply text-3xl xl:text-4xl md:w-2/3 font-bold
}

h2 {
  @apply text-xl md:text-2xl opacity-75 font-semibold pb-8 lg:pb-12 xl:pb-14 w-full lg:w-2/3 text-center md:text-start uppercase
}

h3 {
<<<<<<< HEAD
  @apply text-lg lg:text-xl font-bold mt-4
=======
  @apply text-lg lg:text-xl font-bold mt-4 w-full
>>>>>>> e07b5c6 (easify v 1.0.4)
}

p {
  @apply text-base md:text-lg xl:text-xl opacity-60 leading-relaxed
}